* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #eff0f5 !important;
}
.btn-kirim {
  background-color: #e27847 !important;
  border-radius: 0 !important;
  width: 10rem;
}
/* STYLE HEADER START */
.navigasi nav {
  background-color: #f7f7f7 !important;
}
.navigasi nav .nav-link {
  font-size: 0.8rem;
}
.navigasi nav .nav-link:hover {
  color: #e9945c;
}
.navigasi nav .masukan {
  color: #fd4bfe;
}
.navigasi nav .not-masukan {
  color: #0f1568;
}
.navigasi nav .not-active {
  color: #b3b3b3;
}

.logo .logo-icon {
  height: 2.2rem;
}
.logo-icon {
  height: 2.5rem;
}
.logo .btn-search,
.logo .btn-search i {
  background-color: #f57224 !important;
}
.logo .btn-search i {
  color: white !important;
}
.logo .form-search {
  width: 70%;
  height: 3.5rem;
}
.logo .form-control {
  border-radius: 0 !important;
  border: none !important;
  background-color: #eff0f5 !important;
}
.logo .btn-search {
  border-radius: 0 !important;
  width: 4rem !important;
}
.logo .icon-chart {
  color: #0c176a;
}
.carousel .carousel-indicators button {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}
.carousel .carousel-control-prev {
  background-color: transparent !important;
}
.carousel .carousel-control-next {
  background-color: transparent !important;
}
.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  position: absolute;
}

.carousel .carousel-control-next-icon {
  right: 0;
  border-radius: 50% 0 0 50%;
}

.carousel .carousel-control-prev-icon {
  left: 0;
  border-radius: 0 50% 50% 0;
}
.carousel-inner img,
.tautan img {
  height: 380px;
  object-fit: cover;
  width: 100%;
}

.menu .card-menu {
  border-radius: 7px !important;
  overflow: hidden;
}
.menu .card-menu-lazmall {
  transition: 0.2s;
}
.menu .card-menu-lazmall:hover {
  color: #ff003a;
  cursor: pointer;
}
.menu .card-menu-pulsa {
  transition: 0.2s;
}
.menu .card-menu-pulsa:hover {
  color: #60b0e6;
  cursor: pointer;
}
.menu .card-menu-voucher {
  transition: 0.2s;
}
.menu .card-menu-voucher:hover {
  color: #f5a623;
  cursor: pointer;
}
.menu .img-menu {
  width: 8rem;
  height: 8rem;
}

/* STYLE HEADER END */

/* STYLE MAIN START */
main .flash-sale .txt-dijual {
  color: #f57424;
}
main .flash-sale #jam,
main .flash-sale #menit,
main .flash-sale #detik {
  background-color: #d3232a !important;
  padding: 10px;
  color: white;
  font-weight: bold;
}
main .flash-sale .price {
  color: #f57224;
}
main .flash-sale .price-diskon {
  color: grey;
}

main .flash-sale .card-flash-sale,
main .lazmall .card-lazmall {
  border: none;
  transition: 0.2s;
  border-radius: 0;
}
main .flash-sale .card-flash-sale:hover,
main .lazmall .card-lazmall:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
main .flash-sale .img-flash-sale {
  border-radius: 0;
}
main .lazmall .container-img-lazmall {
  position: relative;
}

main .lazmall .img-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15%;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
main .lazmall .lazmall-more {
  color: #1a9cb7;
}
main .kategori .card-kategori {
  transition: 0.2s;
  border-radius: 0;
  border: none;
}
main .kategori .card-kategori:hover {
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
main .kategori .card-body .txt-card-kategori {
  font-size: 0.85rem;
}
/* STYLE MAIN END */

/* STYLE FOOTER START */
footer .judul-link {
  color: #0f136d !important;
}
footer .bg-orange {
  background-color: #f36f36;
}
footer .link-footer {
  color: #0f136d;
  text-decoration: none;
  transition: 0.2s;
  font-size: 0.85rem;
}
footer .link-footer:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .tautan-orange {
  color: #f36f36;
  font-size: 1.1rem;
}
footer .tautan-biru {
  color: #0f136d;
  font-size: 1.1rem;
}
footer .footer-teks .deskripsi {
  text-align: justify;
  font-size: 0.7rem;
}
footer .footer-teks .judul-teks {
  font-size: 0.8rem;
}
footer .footer-teks .text-biru {
  color: #1a9cb7 !important;
}
footer .footer-teks .col-footer-teks {
  background-color: #eff0f5 !important;
}
/* STYLE FOOTER END */
